h1 { color: red; font-size: 250%; font-weight: bold }



body { background: DarkGray; 
color: black; 
font-size: 14pt; }

body { font-family: 'Rock Salt', cursive; } 

nav p { border: 2px dashed black; 
display: inline-block; }

a { color: red; 
text-decoration: none;}
a:hover { color: black; }

.speical { color: Black }

.floatleft { float: left; margin: 10px } 

.w3-col s3 , w3-button w3-block w3-black {  border-radius: 6px; }
.w3-col s3 { background: black; overflow: auto; }
.w3-col s3 {
  background: black;
  box-shadow: 0 15px 20px ;
  float: left;
  margin: 1.858736059%;
  padding: 20px 0;
  text-align: center;
  width: 29.615861214%;
}
.w3-col s3 :nth-child(2) {
  position: relative;
  top: 20px;
}
